.lab-theme-has
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  background-image: none
  background-color: #fff

  .ui-dialog-titlebar
    background: #868686

  #bottom-bar
    border-top: 1px #e5e5e5 solid

  .graph
    .title
      font-size: 1em
    .background
      background: none

  .bar-graph
    background: none
